:root {
  --bcol: #f1f1f1;
  --fontcol: rgb(80, 80, 80)
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bcol);
  overflow: hidden;
}

.calculator {
  width: 370px;
  height: 550px;
  background-color: var(--bcol);

  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, .16);
  display: grid;
  grid-template-rows: 130px 410px;
}

.header {
  margin: 30px 10px;
  text-align: end;
  font-size: 55px;
  padding-top: 5px;
  padding-right: 10px;
  background-color: var(--bcol);
  box-shadow: inset -5px -5px 12px #ffffff, inset 5px 5px 12px rgba(0, 0, 0, .16);
  border-radius: 30px;
  color: var(--fontcol);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.header::-webkit-scrollbar {
  display: none;
}

span {
  font-size: 12px;
  margin-right: 5px;
  color: var(--bcol);
}

.body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 25px;
  margin-bottom: 10px;

}

button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  background-color: var(--bcol);
  box-shadow: -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, .16);
  font-size: 20px;
  font-weight: bold;
  opacity: .8;
}

button:hover {
  cursor: pointer;
  opacity: 1;
}

.ac {
  grid-column: 1/span 2;
  width: 120px;
  border-radius: 12px;
}

.equal {
  grid-column: 3/span 2;
  width: 120px;
  border-radius: 12px;
}


@media (max-width:460px){
  
  .calculator{
    margin-top: 70px;
    width: 280px;
    height: 500px;
    grid-template-rows: 110px 390px;
  }

  .header {
    margin: 30px 10px;
    font-size: 40px;
    padding-top: 0px;
    padding-right: 10px;
  }

  button {
    width: 52px;
    height: 52px;
    font-size: 18px;
  }


  .body {
    margin-left: 10px;
    margin-bottom: 15px;
  }

  .ac {
    grid-column: 1/span 2;
    width: 100px;
    border-radius: 12px;
  }
  
  .equal {
    grid-column: 3/span 2;
    width: 100px;
    border-radius: 12px;
  }
  

}